---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a Software Engineer with 3<sup>+</sup> years developing education system
    for <b>Ministry of Education, Culture</b>
    and 6<sup>+</sup> years experiences in developing system at a large industrial and real estate 
    <a href="https://www.jababeka.com" target="_blank"><b>Jababeka Tbk.</b></a>
    Now i am looking for a job to grow my experiences.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Associate Degree (D3) - Informatics Management"
      subtitle="2011 - 2014 at Universitas Bina Sarana Informatika, Jakarta - Indonesia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiences</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Backend Engineer at INA Digital Edu"
      subtitle="From Jan 2025 to Present at Perum Peruri, Jakarta, Indonesia"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Deliver high quality API REST & gRPC with Golang and PostgreSQL to serve performance management system for civil servants in the ministry of primary and secondary education.
        </li>
        <li>
          Manage Dataflow using ETL from BigQuery to Postgresql and vice versa, also monitoring with Airflow
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Backend Engineer at Govtech Edu"
      subtitle="From Jun 2022 to Dec 2024 at PT. Metranet, Jakarta, Indonesia"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Deliver high quality API REST & gRPC with Golang and PostgreSQL to serve 6.7<sup>+</sup> active users and handle Single Sign On (SSO)
          for BelajarID account. This SSO service used by <a href='https://guru.kemdikbud.go.id' target='_blank'><b>Platform Merdeka Mengajar (PMM)</b></a>
          and <a href='https://raporpendidikan.kemdikbud.go.id' target='_blank'><b>Rapor Pendidikan</b></a>.
        </li>
        <li>
          Involving to build <b>Asisten guRU</b> (ARU) AI chatbot, it's integrating with ChatGPT services to serve better experience Indonesia Teachers
          in using <a href='https://guru.kemdikbud.go.id' target='_blank'><b>Platform Merdeka Mengajar (PMM)</b></a> 
        </li>
        <li>
          Build Push Notification System and integrate with third parties such as OneSignal and Moengage.
          Its available for targetted user and non-targetted user that can be sent soon and scheduling.
        </li>
        <li>
          Manage Dataflow using ETL from BigQuery to Postgresql and vice versa, also monitoring with Airflow
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="From May 2015 to May 2022 at Jababeka Tbk., Cikarang - Bekasi, Indonesia"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Lead a team with 3-5 members to build high quality service and application system for internal company
          and directly report to IT Division Manager
        </li>
        <li>
          Customize Purchase & Accounting Consolidation module of Odoo ERP using Python and PostgreSQL
        </li>
        <li>
          Develop Email & SMS Notification for Billing Collection using Laravel, MySQL and MsSQL
        </li>
        <li>
          Build REST API for Finance Application Project using C# and MsSQL
        </li>
        <li>
          Develop Land Management System for Land Acquisition Division to manage land-bank using Laravel and MySQL
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Web Programmer"
      subtitle="From Jul 2014 to Apr 2015 at PT. Duaz Solusi, Jakarta, Indonesia"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Create School Administration Management System using Codeigniter and MySQL
        </li>
        <li>
          Build PJU Administration System to manage Penerangan Jalan Umum assets using Codeigniter integrate with Google Maps API and MySQL
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Junior Programmer"
      subtitle="From May 2013 to Jun 2014 at PT. Global Teknologi Media Integrasi, Jakarta, Indonesia"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Oracle Developer at <i>Proyek Pengembangan Datawarehouse Data Kependudukan</i> 
          for Directorate General of Population and Civil Registration, Ministry of Home Affairs
        </li>
        <li>
          Develop Log Monitoring System for track and monitoring from REST API using Codeigniter
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://academy.dqlab.id/Certificate_check/result/DQLABINTP1NVFRGS#mycertificate" target="_blank">Data Manipulation with Pandas (Part 1-2) - DQLab (2023)</a>
    </li>
    <li>
      <a href="https://academy.dqlab.id/Certificate_check/result/DQLABINTP1TMCWLU#mycertificate" target="_blank">Python for Data Professional (Part 1-3) - DQLab (2023)</a>
    </li>
    <li>
      <a href="https://www.dicoding.com/certificates/L4PQ4YDLQXO1" target="_blank">Membuat Aplikasi Back-End (Node.js) - Dicoding (2022)</a>
    </li>
    <li>
      <a href="https://certificates.revou.co/m-anam-certificate-completion-damc22.pdf" target="_blank">Intro to Data Analytics - RevoU (2022)</a>
    </li>
    <li>
      <a href="https://www.dicoding.com/certificates/6RPND45K9Z2M" target="_blank">Google Cloud Engineer - Dicoding (2022)</a>
    </li>
    <li>
      <a href="https://www.dicoding.com/certificates/JLX1GJ965Z72" target="_blank">Cloud Practitioner Essentials (AWS Cloud) - Dicoding (2022)</a>
    </li>
    <li>
      <a href="https://img-certificate.ruangguru.com/CHOIRULOJYR678VK/CERT-TNKTWQEL.jpg" target="_blank">Merancang Produk Digital untuk Product Manager - RuangGuru (2022)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Golang</li>
    <li>Python</li>
    <li>Laravel</li>
    <li>React Native</li>
    <li>NodeJS</li>
    <li>NestJS</li>
    <li>Google Cloud Platform</li>
    <li>AWS Cloud</li>
    <li>PostgreSQL</li>
    <li>MySQL / MariaDB</li>
    <li>MSSQL</li>
    <li>Google Pubsub</li>
    <li>Redis</li>
    <li>Odoo ERP</li>
    <li>Codeigniter</li>
    <li>Tailwinds</li>
    <li>Bootstrap</li>
    <li>Big Query</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git / Gitlab / Github</li>
    <li>CI/CD</li>
  </ul>
</BaseLayout>
